                                /* Remplacer "none" par "default" dans .show_info_gene {} pour */
                                /* afficher la boîte et la ComboBox "Informations générales". */

.show_info_gen {
    display: none;              /* none = cache la frame || default = montre la frame */
}

/*<?php
$age = 24;

$majeur = ($age >= 18) ? true : false;
?>*/

body {
    background-image: url(Background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#header {
    background-color: #b77b02;
    /* Couleurs
        brune : #b77b02
        verte : #294A30 */
    color: white;
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 1px;
}

#nav {
    height: 320px;
    margin: 20px;         
}

.section {
    text-align: center;
    height: 300px;
    max-height: 300px;
    margin-top: 60px;
}

.accords {
    float: left;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 2px black dashed;
    border-radius: 5px;
    margin: 38px;
    margin-left: 29%;
    margin-bottom: 10%;
}

.info_gen {
    float: right;
    text-align: center;
    width: 300px;
    height: 200px;
    border: 2px black dashed;
    border-radius: 5px;
    margin: 38px;
    margin-right: 29%;
    margin-bottom: 10%;
}